.HorasExtras__box
  display: flex
  flex-direction: column
  gap: 1rem
  padding: 1rem

.HorasExtras__item
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%

.HorasExtras__actions
  display: flex
  gap: 0.5rem

.HorasExtras_ _section
  display: flex
  align-items: center
  justify-content: center
  align-content: center